# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Compiled output
dist
docs/public
example/docs

# Dependency directories
node_modules/
example/node_modules/
docs/node_modules/

# Output of 'npm pack'
*.tgz


.idea

